<div>
  <h1>Created events</h1>
  <%= render "shared/event_info", object: @events %>
</div>

<div>
  <h2>Upcoming Invitations</h2>
  <%= render "shared/event_info", object: @upcoming_events %>
</div>

<div>
  <h2>Past Invitations</h2>
  <%= render "shared/event_info", object: @prev_events %>
</div>